BugKiller/obj
BugKiller/Temp
BugKiller/*.tmproj
BugKiller/*.csproj
BugKiller/*.unityproj
BugKiller/*.sln
BugKiller/*.suo
BugKiller/*.user
BugKiller/*.pidb
BugKiller/*.userprefs

BugKiller/Library/cache/*
BugKiller/Library/metadata/*
BugKiller/Library/previews/*
BugKiller/Library/ScriptAssemblies/*

BugKiller/AnnotationManager
BugKiller/assetDatabase3
BugKiller/AssetImportState
BugKiller/assetservercachev3
BugKiller/AssetServerCacheV3
BugKiller/AssetVersioning.db
BugKiller/AudioManager.asset
BugKiller/BuildPlayer.prefs
BugKiller/BuildSettings.asset
BugKiller/DynamicsManager.asset
BugKiller/EditorSettings.asset
BugKiller/EditorUserBuildSettings.asset
BugKiller/expandedItems
BugKiller/FailedAssetImports.txt
BugKiller/guidmapper
BugKiller/InspectorExpandedItems.asset
BugKiller/MonoManager.asset
BugKiller/NetworkManager.asset
BugKiller/ScriptMapper